Repository kienleholdings/open-source-archive, changes with the labels that .github/labeler.yml gives for each.
All labels: Configuration: CI, Configuration: Devcontainer, Configuration: Github, Dependencies, Documentation, Workspace Type: app, Workspace Type: package

.github/labeler.yml:

'Configuration: CI':
  - ".github/workflows/**"
'Configuration: Devcontainer':
  - ".devcontainer/**"
'Configuration: Github':
  - ".github/**"
  - "!.github/workflows/*"
  - ".gitignore"
Dependencies:
  - pnpm-lock.yaml
Documentation:
  - README.md
  - docs/**
'Workspace Type: app':
  - apps/**
'Workspace Type: package':
  - packages/**

Customize Monorepo Template
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  LICENSE
  README.md
  package.json
Labels: Configuration: Devcontainer, Configuration: Github, Documentation

Remove Sample App and Package
  apps/example-app/.eslintignore
  apps/example-app/.eslintrc.js
  apps/example-app/.lintstagedrc
  apps/example-app/README.md
  apps/example-app/next-env.d.ts
  apps/example-app/next.config.js
  apps/example-app/package.json
  apps/example-app/public/favicon.ico
  apps/example-app/public/vercel.svg
  apps/example-app/src/pages/_app.page.tsx
  apps/example-app/src/pages/api/hello.page.ts
  apps/example-app/src/pages/index.page.tsx
  apps/example-app/src/pages/index.test.tsx
  apps/example-app/src/styles/Home.module.css
  apps/example-app/src/styles/globals.css
  apps/example-app/tsconfig.json
  apps/example-app/vitest.config.ts
  packages/example-package/.eslintignore
  packages/example-package/.eslintrc.js
  packages/example-package/.lintstagedrc
  packages/example-package/.npmignore
  packages/example-package/CHANGELOG.md
  packages/example-package/LICENSE
  packages/example-package/README.md
  packages/example-package/package.json
  packages/example-package/src/index.test.ts
  packages/example-package/src/index.ts
  packages/example-package/tsconfig.json
Labels: Configuration: Github, Workspace Type: app, Workspace Type: package

Update package.json pathings for new repo
  packages/eslint-config-base/package.json
  packages/eslint-config-nextjs/package.json
  packages/eslint-config-react/package.json
  packages/graphql-clerk/package.json
  packages/graphql-nextjs/package.json
  packages/graphql-prisma/package.json
  packages/graphql-react-query/package.json
  packages/mdlint/package.json
  packages/prettierrc/package.json
  packages/pubman/package.json
  packages/tsconfigs/package.json
  packages/zephyr-clerk/package.json
  packages/zephyr-core/package.json
  packages/zephyr-formik/package.json
  packages/zephyr-nextjs/package.json
  packages/zephyr-react/package.json
  packages/zephyr-uploadcare/package.json
Labels: Configuration: Github, Workspace Type: package

Update Lockfile
  .devcontainer/docker-compose.yml
  pnpm-lock.yaml
Labels: Configuration: Devcontainer, Configuration: Github, Dependencies

Update Readme Title
  README.md
Labels: Configuration: Github, Documentation
